.about-page {
  min-height: 90vh;
  padding: 0.75rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 1.5rem;
  color: white;
  border-radius: 0.5rem;
  background-color: rgb(74, 2, 3);
}
