.single-cocktail-page {
  background: url("./../../assets/Thumb-Mini-Manhattan-Batched-Make-Ahead-Martini-Negroni-Manhattan-Holiday-Drink-Recipe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 90vh;
  height: 90vh;
  padding: 0.75rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-cocktail-page-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-back-page {
  width: fit-content;
}

.drink {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-cocktail-page-image-container {
  height: 55%;
  width: 50%;
}

.single-cocktail-page-image-container img {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
}

.drink-info {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}

.drink-data {
  font-style: italic;
}

@media only screen and (max-width: 1020px) {
  .drink {
    width: 60%;
  }

  .single-cocktail-page-image-container {
    height: 45%;
    width: 50%;
  }

  .drink-info {
    height: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .single-cocktail-page {
    height: 85vh;
  }
}

@media only screen and (max-width: 600px) {
  .drink {
    width: 75%;
  }

  .single-cocktail-page-image-container {
    width: 80%;
  }
}
