.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(84, 36, 19);
  background: url("./../../assets//Martini-Negroni-Manhattan-Holiday-Drink-Recipe.jpg");
  color: white;
  width: 100vw;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease-in-out;
}

.home-page button {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border: 2px solid rgb(74, 2, 3);
  color: rgb(74, 2, 3);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.home-page button:hover {
  background-color: rgba(74, 2, 3, 0.9);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}