.home-container {
  width: 90%;
  color: white;
}

.home-container h1 {
  text-align: center;
  margin: 20px auto;
}

.cocktail-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 45%;
  min-width: 400px;
  height: 40vh;
  display: flex;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid white;
  margin: 12px;
  padding: 12px;
}

.card button {
  padding: 4px 16px;
}

.white-line {
  background-color: white;
  height: 90%;
  width: 1px;
}

.card-body {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.card-image-container {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image-container img {
  height: 100%;
  width: 90%;
}

@media only screen and (max-width: 960px) {
  .card {
    width: 100%;
    
  flex: 1;
  }

  .home-container {
    width: 100%;
  }

  
}

@media only screen and (max-width: 480px) {
  .card {
    flex-direction: column;
    height: auto;
  }
}
