.home-container {
  width: 90%;
  color: white;
}

.home-container h1 {
  text-align: center;
  margin: 20px auto;
}

.cocktail-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 48%;
  height: 40vh;
  display: flex;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin: 12px;
}

.card button {
  padding: 4px 16px;
  margin: 12px auto;
}

.white-line {
  background-color: white;
  height: 90%;
  width: 1px;
}

.card-body {
  width: 50%;
  text-align: center;
}

.card-image-container {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image-container img {
  height: 100%;
  width: 90%;
}
